In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

## CSV Import

In [2]:
csv_file_crunchy = "crunchyroll.csv"
csv_file_mal = "myanimelist.csv"
crunchy_df = pd.read_csv(csv_file_crunchy )
mal_df = pd.read_csv(csv_file_mal)

In [3]:
#Drop duplicates in column title, lower de cases, and remove non alphabeticals, and normalize rate, and score
crunchy_df.drop_duplicates(subset ="anime", 
                     keep = "first", inplace = True) 
mal_df.drop_duplicates(subset ="title", 
                     keep ="first" , inplace = True) 

crunchy_df["anime"]=crunchy_df['anime'].str.lower()
mal_df["title"]=mal_df['title'].str.lower()

crunchy_df["anime"]=  crunchy_df['anime'].astype(str).str.replace('[^a-z,0-9," "]', '')
mal_df["title"]=mal_df['title'].astype(str).str.replace('[^a-z,0-9," "]', '')

crunchy_df['rate']= crunchy_df['rate']/5 *100
mal_df['score']=mal_df['score']/10 *100

In [4]:
crunchy_df.columns.values

array(['anime', 'anime_url', 'anime_img', 'episodes', 'votes', 'weight',
       'rate', 'rate_1', 'rate_2', 'rate_3', 'rate_4', 'rate_5',
       'genre_action', 'genre_adventure', 'genre_comedy', 'genre_drama',
       'genre_family', 'genre_fantasy', 'genre_food', 'genre_harem',
       'genre_historical', 'genre_horror', 'genre_idols', 'genre_isekai',
       'genre_jdrama', 'genre_magical girls', 'genre_martial arts',
       'genre_mecha', 'genre_music', 'genre_mystery',
       'genre_post-apocalyptic', 'genre_romance', 'genre_sci-fi',
       'genre_seinen', 'genre_sgdrama', 'genre_shojo', 'genre_shonen',
       'genre_slice of life', 'genre_sports', 'genre_supernatural',
       'genre_thriller'], dtype=object)

In [5]:
mal_df.columns.values

array(['uid', 'title', 'synopsis', 'genre', 'aired', 'episodes',
       'members', 'popularity', 'ranked', 'score', 'img_url', 'link'],
      dtype=object)

In [6]:
#Unpivot/desaggregate crunchy_df_2
crunchy_df_2 = pd.melt(crunchy_df, id_vars=['anime', 'anime_url','episodes','rate'], value_vars=['genre_action', 'genre_adventure', 'genre_comedy', 'genre_drama',
       'genre_family', 'genre_fantasy', 'genre_food', 'genre_harem',
       'genre_historical', 'genre_horror', 'genre_idols', 'genre_isekai',
       'genre_jdrama', 'genre_magical girls', 'genre_martial arts',
       'genre_mecha', 'genre_music', 'genre_mystery',
       'genre_post-apocalyptic', 'genre_romance', 'genre_sci-fi',
       'genre_seinen', 'genre_sgdrama', 'genre_shojo', 'genre_shonen',
       'genre_slice of life', 'genre_sports', 'genre_supernatural',
       'genre_thriller'])

In [7]:
#For each row make each list element on the column genre in mal_df a datapoint  
title=[]
episodes = []
score =[]
link= []
genre=[]
for index, data in mal_df.iterrows():
  
   
     
    time = data['genre'] 
    time=time.replace('[', '') 
    time=time.replace(']','')
    time= time.split(',')
    
    for row in time:
        genre.append(row)
        title.append(data['title'])
        episodes.append(data['episodes'])
        score.append(data['score'])
        link.append(data['link'])

In [8]:
dict = {'title': title,'link':link,'episodes': episodes,'score':score, 'genre':genre} 
mal_df_2 = pd.DataFrame(dict)

In [9]:
crunchy_df_2.head(5)

,anime,anime_url,episodes,rate,variable,value
0,naruto shippuuden,https://www.crunchyroll.com/naruto-shippuden,500,96.2,genre_action,0.0
1,shugo chara,https://www.crunchyroll.com/shugo-chara,51,97.2,genre_action,0.0
2,bleach,https://www.crunchyroll.com/bleach,366,96.6,genre_action,0.0
3,naruto,https://www.crunchyroll.com/naruto,220,96.0,genre_action,0.0
4,skip beat,https://www.crunchyroll.com/skip-beat,0,98.2,genre_action,0.0

In [10]:
mal_df_2.head()

,title,link,episodes,score,genre
0,haikyuu second season,https://myanimelist.net/anime/28891/Haikyuu_Se...,25.0,88.2,'Comedy'
1,haikyuu second season,https://myanimelist.net/anime/28891/Haikyuu_Se...,25.0,88.2,'Sports'
2,haikyuu second season,https://myanimelist.net/anime/28891/Haikyuu_Se...,25.0,88.2,'Drama'
3,haikyuu second season,https://myanimelist.net/anime/28891/Haikyuu_Se...,25.0,88.2,'School'
4,haikyuu second season,https://myanimelist.net/anime/28891/Haikyuu_Se...,25.0,88.2,'Shounen'

In [11]:
crunchy_df = crunchy_df[['anime', 'anime_url', 'episodes','rate']].copy()

# Transformations to data

In [12]:
crunchy_df_2=crunchy_df_2.drop(['value'],axis=1)
crunchy_df_2['variable'] = crunchy_df_2['variable'].str.replace('genre_', '').astype(str)
crunchy_df_2 = crunchy_df_2.rename(columns={"anime": "title","anime_url":"url", "rate":"score","variable":"genre"})

In [13]:
crunchy_df_2.head(5)

,title,url,episodes,score,genre
0,naruto shippuuden,https://www.crunchyroll.com/naruto-shippuden,500,96.2,action
1,shugo chara,https://www.crunchyroll.com/shugo-chara,51,97.2,action
2,bleach,https://www.crunchyroll.com/bleach,366,96.6,action
3,naruto,https://www.crunchyroll.com/naruto,220,96.0,action
4,skip beat,https://www.crunchyroll.com/skip-beat,0,98.2,action

In [14]:
mal_df_2['genre'] = mal_df_2['genre'].str.replace("'", '').astype(str)
mal_df_2["genre"]=mal_df_2['genre'].str.lower()
mal_df_2 = mal_df_2[mal_df_2['episodes'].notnull()]
mal_df_2['episodes'] = mal_df_2['episodes'].astype(int)
mal_df_2 = mal_df_2.rename(columns={"link":"url"})

In [15]:
mal_df_2.head(5)

,title,url,episodes,score,genre
0,haikyuu second season,https://myanimelist.net/anime/28891/Haikyuu_Se...,25,88.2,comedy
1,haikyuu second season,https://myanimelist.net/anime/28891/Haikyuu_Se...,25,88.2,sports
2,haikyuu second season,https://myanimelist.net/anime/28891/Haikyuu_Se...,25,88.2,drama
3,haikyuu second season,https://myanimelist.net/anime/28891/Haikyuu_Se...,25,88.2,school
4,haikyuu second season,https://myanimelist.net/anime/28891/Haikyuu_Se...,25,88.2,shounen

In [16]:
crunchy_df_2['source'] = 'crunchyroll'
mal_df_2['source']='myanimelist'

In [17]:
crunchy_df_2.dtypes

title        object
url          object
episodes      int64
score       float64
genre        object
source       object
dtype: object

In [18]:
mal_df_2.dtypes

title        object
url          object
episodes      int64
score       float64
genre        object
source       object
dtype: object

# Append data frames, merge data frames and reset index

In [19]:
merge_df =crunchy_df_2.append(mal_df_2, ignore_index=True)
merge_df.shape

(81698, 6)

In [20]:
merge_df.columns

Index(['title', 'url', 'episodes', 'score', 'genre', 'source'], dtype='object')

In [21]:
#ready to use dataframe, from here we shoul extract the relational tables for sql database
merge_df

,title,url,episodes,score,genre,source
0,naruto shippuuden,https://www.crunchyroll.com/naruto-shippuden,500,96.2,action,crunchyroll
1,shugo chara,https://www.crunchyroll.com/shugo-chara,51,97.2,action,crunchyroll
2,bleach,https://www.crunchyroll.com/bleach,366,96.6,action,crunchyroll
3,naruto,https://www.crunchyroll.com/naruto,220,96.0,action,crunchyroll
4,skip beat,https://www.crunchyroll.com/skip-beat,0,98.2,action,crunchyroll
...,...,...,...,...,...,...
81693,chuunibyou demo koi ga shitai kirameki no slap...,https://myanimelist.net/anime/16934/Chuunibyou...,1,75.6,comedy,myanimelist
81694,chuunibyou demo koi ga shitai kirameki no slap...,https://myanimelist.net/anime/16934/Chuunibyou...,1,75.6,drama,myanimelist
81695,chuunibyou demo koi ga shitai kirameki no slap...,https://myanimelist.net/anime/16934/Chuunibyou...,1,75.6,romance,myanimelist
81696,chuunibyou demo koi ga shitai kirameki no slap...,https://myanimelist.net/anime/16934/Chuunibyou...,1,75.6,school,myanimelist
81697,chuunibyou demo koi ga shitai kirameki no slap...,https://myanimelist.net/anime/16934/Chuunibyou...,1,75.6,slice of life,myanimelist

## Create tables to input into database

In [57]:
#Anime Catalogue
Anime_Catalogue_df = merge_df[['title','episodes']].copy()
Anime_Catalogue_df = Anime_Catalogue_df.drop_duplicates('title')
Anime_Catalogue_df = Anime_Catalogue_df.reset_index()
Anime_Catalogue_df = Anime_Catalogue_df.drop(['index'],axis= 1)
Anime_Catalogue_df = Anime_Catalogue_df.reset_index()
Anime_Catalogue_df= Anime_Catalogue_df.rename(columns={'index':'id_anime'})
Anime_Catalogue_df.head(5)

   id_anime              title  episodes
0         0  naruto shippuuden       500
1         1        shugo chara        51
2         2             bleach       366
3         3             naruto       220
4         4          skip beat         0

In [58]:
#Origin
Origin_df = merge_df[['source']].copy()
Origin_df  = Origin_df.drop_duplicates('source')
Origin_df  = Origin_df.reset_index()
Origin_df  = Origin_df.drop(['index'],axis= 1)
Origin_df  = Origin_df.reset_index()
Origin_df =  Origin_df.rename(columns={'index':'id_source'})
Origin_df.head(5)

   id_source       source
0          0  crunchyroll
1          1  myanimelist

In [59]:
#genre
genre_df = merge_df[['genre']].copy()
genre_df  = genre_df.drop_duplicates('genre')
genre_df  = genre_df.reset_index()
genre_df  = genre_df.drop(['index'],axis= 1)
genre_df  = genre_df.reset_index()
genre_df =  genre_df.rename(columns={'index':'id_genre'})
genre_df.head(5)

   id_genre      genre
0         0     action
1         1  adventure
2         2     comedy
3         3      drama
4         4     family

In [60]:
#For ratings,and link separation
General_df = merge_df.merge(Origin_df, left_on='source', right_on='source', how='left')
General_df = General_df.merge(Anime_Catalogue_df, left_on='title', right_on='title', how='left')
General_df =  General_df.merge(genre_df, left_on='genre', right_on='genre', how='left')
General_df.columns.values

array(['title', 'url', 'episodes_x', 'score', 'genre', 'source',
       'id_source', 'id_anime', 'episodes_y', 'id_genre'], dtype=object)

In [61]:
#ratings
Ratings_df = General_df[['id_anime','id_source','score']].copy()
Ratings_df =Ratings_df.drop_duplicates('id_anime')
Ratings_df = Ratings_df.reset_index()
Ratings_df = Ratings_df.drop(['index'],axis= 1)
Ratings_df = Ratings_df.reset_index()
Ratings_df =  Ratings_df.rename(columns={'index':'id_ratings'})
Ratings_df.tail(100)

       id_ratings  id_anime  id_source  score
16426       16426     16426          1   72.0
16427       16427     16427          1   72.0
16428       16428     16428          1   72.0
16429       16429     16429          1   72.0
16430       16430     16430          1   72.0
...           ...       ...        ...    ...
16521       16521     16521          1   74.8
16522       16522     16522          1   75.0
16523       16523     16523          1   75.0
16524       16524     16524          1   75.6
16525       16525     16525          1   75.6

[100 rows x 4 columns]

In [65]:
#Link
Links_df = General_df[['id_anime','id_source','url']].copy()
Links_df =Links_df.drop_duplicates('id_anime')
Links_df = Links_df.reset_index()
Links_df =Links_df.drop(['index'],axis= 1)
Links_df =Links_df.reset_index()
Links_df =  Links_df.rename(columns={'index':'id_url'})
Links_df.tail(100)

,id_url,id_anime,id_source,url
16426,16426,16426,1,https://myanimelist.net/anime/3218/Gensoumaden...
16427,16427,16427,1,https://myanimelist.net/anime/2624/Flanders_no...
16428,16428,16428,1,https://myanimelist.net/anime/2668/Doraemon_Mo...
16429,16429,16429,1,https://myanimelist.net/anime/5760/Dororo_to_H...
16430,16430,16430,1,https://myanimelist.net/anime/1534/Futari_wa_P...
...,...,...,...,...
16521,16521,16521,1,https://myanimelist.net/anime/36043/Net-juu_no...
16522,16522,16522,1,https://myanimelist.net/anime/10075/Naruto_x_UT
16523,16523,16523,1,https://myanimelist.net/anime/35828/Miira_no_K...
16524,16524,16524,1,https://myanimelist.net/anime/33082/Kingsglaiv...
16525,16525,16525,1,https://myanimelist.net/anime/16934/Chuunibyou...

In [64]:
#Anime, Genre, Source foreign keys table
AGS_df = General_df[['id_anime','id_genre','id_source']].copy()
AGS_df['AGS']=AGS_df.id_anime+AGS_df.id_genre+AGS_df.id_source
AGS_df=AGS_df.drop_duplicates('AGS')
AGS_df=AGS_df.drop(['AGS'], axis=1)
AGS_df

       id_anime  id_genre  id_source
0             0         0          0
1             1         0          0
2             2         0          0
3             3         0          0
4             4         0          0
...         ...       ...        ...
81676     16520        34          1
81678     16521        73          1
81683     16522        47          1
81684     16522        66          1
81697     16525        43          1

[15675 rows x 3 columns]

# Connect to database,and export created tables

In [68]:
rds_connection_string = "postgres:ihatefred@localhost:5432/Anime_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [69]:
engine.table_names()

['anime_catalogue',
 'ratings',
 'origin',
 'links',
 'anime_genre_source',
 'genre']

In [70]:
Anime_Catalogue_df.to_sql(name='anime_catalogue', con=engine, if_exists='append', index=False)

In [71]:
Origin_df.to_sql(name='origin', con=engine, if_exists='append', index=False)

In [72]:
genre_df.to_sql(name='genre', con=engine, if_exists='append', index=False)

In [73]:
Ratings_df.to_sql(name='ratings', con=engine, if_exists='append', index=False)

In [74]:
Links_df.to_sql(name='links', con=engine, if_exists='append', index=False)

In [75]:
AGS_df.to_sql(name='anime_genre_source', con=engine, if_exists='append', index=False)

# Test to see if tables where copied correctly to db

In [76]:
pd.read_sql_query('select * from anime_catalogue', con=engine).head()

   id_anime              title  episodes
0         0  naruto shippuuden       500
1         1        shugo chara        51
2         2             bleach       366
3         3             naruto       220
4         4          skip beat         0

In [77]:
pd.read_sql_query('select * from ratings', con=engine).head()

   id_ratings  id_anime  id_source  score
0           0         0          0   96.2
1           1         1          0   97.2
2           2         2          0   96.6
3           3         3          0   96.0
4           4         4          0   98.2

In [78]:
pd.read_sql_query('select * from genre', con=engine).head()

   id_genre      genre
0         0     action
1         1  adventure
2         2     comedy
3         3      drama
4         4     family

In [79]:
pd.read_sql_query('select * from origin', con=engine).head()

   id_source       source
0          0  crunchyroll
1          1  myanimelist

In [80]:
pd.read_sql_query('select * from links', con=engine).head()

   id_url  id_anime  id_source                                           url
0       0         0          0  https://www.crunchyroll.com/naruto-shippuden
1       1         1          0       https://www.crunchyroll.com/shugo-chara
2       2         2          0            https://www.crunchyroll.com/bleach
3       3         3          0            https://www.crunchyroll.com/naruto
4       4         4          0         https://www.crunchyroll.com/skip-beat

In [81]:
pd.read_sql_query('select * from anime_genre_source', con=engine).head()

   id_anime  id_genre  id_source
0         0         0          0
1         1         0          0
2         2         0          0
3         3         0          0
4         4         0          0